<footer>
  <p>
    This is Open Source Software! <%= link_to "View on Github", "https://github.com/zacscodingclub/find-polling-location" %>
  </p>

  <p>
    Having issues with our tool?  Let us know on our <%= link_to "project issues page", "https://github.com/zacscodingclub/find-polling-location/issues" %> or email me at <a href="mailto:support@prcappas.com">support@prcapps.com</a>
  </p>
</footer>
